
<div class="seven container-fluid ">
    
  <div class="six  ">
    
    <div class="sixt">
      <h2>CONTENT</h2>
      <h3>ABOUT</h3>
      <h3>TEAM</h3>
      <h3>BLOG</h3>
      <h3>SUCCESS STORIES</h3>
      <h3>FAQ</h3>
    </div>

    <div class="sixt">
      <h2>TERMS OF USE</h2>
      <h3>GUIDES</h3>
      <h3>COMMUNITY GUIDES</h3>
      <h3>INSTALLATION GUIDES</h3>
      <h3>CONTRIBUTES</h3>
      <h3>CONTACT US</h3>
    </div>

    
    <div class="sixt">
      <h2>COOKIES INFORMATION</h2>
      <h3>ENQUIRY</h3>
      <h3>LEGEL</h3>
      <h3>LICENSE</h3>
      <h3>TERMS</h3>
      <h3>CONDITION</h3>
    </div>

    
    <div class="sixt">
      <h2>PRIVACY INFORMATION</h2>
      <h3>TERMS</h3>
      <h3>PRIVACY</h3>
      <h3>SECURITY</h3>
      <h3>DETAILS</h3>
      <h3>IMAGES</h3>
    </div>


</div>
  </div>