{% extends 'base.html' %}
{% block content %}
<div class="container-fluid index_one">

  <div class="row">

    <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
      <form action="" method="post" class="form w-50">
        {% csrf_token %}
        <input type="text" name="task" placeholder="task" class="form-control my-3">
        <input type="number" name="priority" placeholder="priority" class="form-control my-3">
        <div class="text-center">
        <button class="btn btn-primary my-3">add</button>
      </div>



      </form>

    </div>

    <div class="col-lg-6 col-sm-12 p-3">
      <h1>Task To Be Completed</h1>
      <div class="container ">
        {% for task in tasks %}
        <div class="d-flex flex-wrap">
          <table class="tasks " style="width:30%">
            <tr>
              <td>{{task.task}}</td>
              <td> {{task.priority}}</td>
            </tr>
          </table> 
            
            
           </div>

          
           <div class="d-flex ">
            <table class="tasks " style="width:30%">
              <tr>
                <td> 
                  <button class="btn btn-primary my-3 mx-3">update</button></td>
                <td>    <button class="btn btn-success my-3 ">done</button></td>
              </tr>
            </table> 
           
        
          
         </div>
        
        {% endfor %}
      </div>
      </div>
      </div>
      </div>  
  


{% endblock %}